Output from SHOW BGP ALL NEIGHBORS
============================================
{{ output.stdout[0]}}

Output from SHOW IP ROUTE
============================================
{{ output.stdout[1]}}

Output from SHOW INTERFACE STATUS
============================================
{{ output.stdout[2]}}
